extends layout

block content
	.addtag-spacer
	.addtag-block
		canvas#canvas.newproduct-view
		form.newproduct(name="new_product_form" action="/addtag" method="POST" enctype="multipart/form-data")
			input(type="text" value="" placeholder="#{__('Product name')}" name="name" required="required" pattern="^.{1,75}$" title="#{__('Maximum %s characters','75')}")
			input(type="text" value="" placeholder= "#{__('Bar/QR code')}" name="code" required="required" pattern="^.{1,500}$" title="#{__('Maximum %s characters','500')}")
			#upload_model
			.upload_target_container
				input#model(type="file" value="" name="modelo3d" required="required" accept=".md2" title="#{__('Please submit a %s file','md2')}")
				.label #{__('Upload 3D Model')}
			.upload_target_container
				input#texture(type="file" value="" name="textura" required="required" accept="image/png" title="#{__('Please submit a %s file','png')}")
				.label #{__('Upload texture')}
			.upload_target_container
				input(type="file" value="" name="target" required="required" accept="image/png" title="#{__('Please submit a %s file','png')}")
				.label #{__('Upload target')}
			.upload_target_container
				input(type="file" value="" name="tracking" required="required" accept="application/xml" title="#{__('Please submit a %s file','xml')}")
				.label #{__('Upload tracking')}
			input.btn.btn-primary.btn-large.btn-block(type="submit" value="#{__('Upload model')}")
		div(style="clear:both;")
block action
	script(src="/javascripts/jsc3d.js")
	script(src="/javascripts/md2.js")
	script(src="/javascripts/files.js")
	script.
		$(function() {
			var render = function(model,texture){
				var canvas = $('canvas#canvas');
				var files = {
					model   : null,
					texture : null
				};
				var display = function(){
					if(files.model != null && files.texture != null){
						md2_player.replaceSceneFromDataUrls(files.model, files.texture);
					}
				};
				var md2_player = 				
				(function createPlayer() {
					// construct the viewer instance
					var jsc_viewer = new JSC3D.Viewer(canvas.get()[0]);
					jsc_viewer.setParameter('ModelColor', '#468ECA');
					jsc_viewer.setParameter('InitRotationY', 90);
					jsc_viewer.setParameter('InitRotationX', 90);
					jsc_viewer.setParameter('BackgroundColor1', '#EDEFF1');
					jsc_viewer.setParameter('BackgroundColor2', '#EDEFF1');
					jsc_viewer.setParameter('RenderMode', 'texture');
					jsc_viewer.init();
					jsc_viewer.update();
					jsc_viewer.onmousedown = function(x, y, button) {
						if(button == 0) md2_player.pause();
					};
					jsc_viewer.onmouseup = function(x, y, button) {
						if(button == 0)	md2_player.play();
					};
					return new JSC3D.Md2Player(jsc_viewer);
				}) ();
				loadFiles(model,function(loadedFiles){ console.log('model loaded');     files.model   = loadedFiles[0]; display();},true,/^.+$/,true);
				loadFiles(texture,function(loadedFiles){ console.log('texture loaded'); files.texture = loadedFiles[0]; display();},true,/^.+$/);						
			};
			$("input:file").change(function (e){
				var fi = $(this);
				fi.addClass('loaded');
				fi.parent().find('.label').text(fi.val().split('\\').pop()).addClass('loaded');
				if($('input#model').hasClass('loaded') && $('input#texture').hasClass('loaded') ){
					render($('#model').get()[0],$('#texture').get()[0]);
				}
			});
		});