doctype 5
html
	head
		title= title ? title : 'nodechat'
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")		
		link(rel='shortcut icon', type='image/png', href='/favicon.png')		
		link(rel='stylesheet', href='/stylesheets/flat-ui.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
	body(class='#{ bodyclass ? bodyclass : "default" }')
		#wrapper			
			if errormessage
				h2.flmessage.errormessage #{errormessage}
			if flashmessage	
				h2.flmessage.flashmessage #{flashmessage}
			#frame
				block content
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="/javascripts/appcontroller.js")
		#footer
			a.leftlink(href="mailto:jesuslink00@gmail.com?subject=#{'You\'ve been hired!'}&body=#{'Hi, I am ... and just wanted to say ...'}") #{'Contacto'}
			block rightlinks	
		block action