extends layout

block content
	.login-block
		form.login-form(name="login_form" action="/login" method="POST")
			h4 Eres nuevo?
				a.rightlink(href="/signup") #{'sí, regístrame'}	
			.control-group
				input#login-name.login-field(type="text" value="" placeholder= "#{'Nombre'}" required="required" name="username")
				label.login-field-icon.fui-user(for="login-name")
			.control-group
				input#login-pass.login-field(type="password" value="" placeholder="#{'Contraseña'}" name="password")
				label.login-field-icon.fui-lock(for="login-pass")
			input.btn.btn-primary.btn-large.btn-block(type="submit" href="#" value="#{'Iniciar'}")
			a.login-link(href="#") #{'Lost your password?'}
block rightlinks
	a.rightlink(href="/signup") #{'Registro'}