extends layout

block content
	.login-block
		form.login-form(name="login_form" action="/signup" method="post" enctype="multipart/form-data")
			.control-group
				input#login-name.login-field(type="text" value="" placeholder= "#{'Nombre'}" name="username" required="required" pattern="^([0-9a-zA-Z]){3,36}$" title="#{'Only letters and numbers, 3 to 36 chars allowed'}")
				label.login-field-icon.fui-user(for="login-name")
			.control-group
				input#login-mail.login-field(type="email" value="" placeholder= "#{'Email'}" name="email" required="required")
				label.login-field-icon.fui-mail(for="login-email")
			.control-group
				input#login-pass.login-field(type="password" value="" placeholder="#{'Contraseña'}" name="password" required="required" pattern="^([0-9a-zA-Z]|_|-){6,40}$" title="#{'Letters, numbers, _ and - too. 6 to 60 allowed'}" )
				label.login-field-icon.fui-lock(for="login-pass")
			.control-group.file
				input#model(type="file" value="" name="pic" required="required" accept=".jpg" title="#{'Sólo aceptamos jpg'}")
				.label #{'Foto (jpg)'}

			input.btn.btn-primary.btn-large.btn-block(type="submit" href="#" value="#{'Crear cuenta'}")
block rightlinks
	a.rightlink(href="/login") #{'login'}