extends layout

block content
	#header
		.greeting #{'Hola'} 
			small #{username}, 
			|	#{'es bueno verte de nuevo'}.
	#maincontent
		h2.title #{'Qué está diciendo el club?'}
		
		#mycomments.comment_box
			- if (comments.length > 0)
				each comment in comments
					.comment
						img(src='pics/pic_#{comment.user}.jpg')
						.date(data-real='#{comment.added}') 
						.author #{comment.user}
						.text #{comment.text}
				div(style="clear:both;")
			- else
				.advise_block
					small #{'No hay comentarios aún'}
		input(id="commentor" type="text" value="" placeholder="#{'Di algo'}" )
		#waiting #{'Entregando mensaje...'}	
block rightlinks
	a.rightlink(href="/logout") #{'Salir'}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/jquery.timer.js")
	script.
		//- var j = $.noConflict();
		//- var socket = io.connect('http://148.228.24.134');
		var socket = io.connect();
		socket.on('newcomment',function(data){
			console.log('new comment arrived:');
			console.log(data);
			mycomments.prepend('<div class="comment"><img src="pics/pic_'+data.user+'.jpg"><div class="date" data-real="'+data.added+'"></div><div class="author"> '+data.user+'</div><div class="text">'+data.text+'</div></div>');
		});
		socket.on('done',function(data){
			console.log('MY message was delivered');
			console.log(data);
			waiter.fadeOut();
			mycomments.prepend('<div class="owned comment"><img src="pics/pic_'+data.user+'.jpg"><div class="date" data-real="'+data.added+'"></div><div class="author"> '+data.user+'</div><div class="text">'+data.text+'</div></div>');
		});		
		socket.on('reload',function(data){
			console.log('El servidor no está recibiendo la cookie correspondiente');
			window.location = 'logout/'
		});
		var waiter = null;
		var mycomments = null;
		$(function(){
			var commentor = $('#commentor');
			mycomments = $('#mycomments');
			waiter = $('#waiting');
			commentor.keypress(function(e){
				if(e.which == 13) {
					var text = $(this).val();
					$(this).val('');
					waiter.fadeIn();
					socket.emit('addcomment',{text:text});
				}
			});
			$.timer(3000, function(){
				$('.date').each(function(){
					var milis = Date.now() - 1*$(this).data('real');
					x = milis/1000;
					y = x/60;
					z = y/60;
					$(this).text( 'Enviado hace ' + Math.floor(z % 24) +'hrs '+ Math.floor(y % 60) +'min ' + Math.floor(x % 60)+'secs' );
				});
			})
		});