::selection {
  text-shadow: 0px 0px 5px #51b9a2;
}
body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body {
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #f7f8f8;
  color: #999;
}
a {
  color: #878787;
  text-decoration: none;
}
canvas {
  cursor: default;
}
input:focus {
  outline: none;
}
svg {
  display: block;
}
#wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 1px;
  margin-top: -2px;
}
#footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #ddd;
  margin-top: -59px;
}
#footer a {
  font: 14px;
  font-weight: 300;
  line-height: 60px;
}
a.leftlink {
  float: left;
  margin-left: 2em;
}
a.rightlink {
  float: right;
  margin-right: 2em;
}
.home-block {
  width: 285px;
  height: 385px;
  left: 50%;
  top: 50%;
  margin-left: -142.5px;
  margin-top: -132.5px;
  position: absolute;
}
.home-spacer {
  height: 505px;
}
#base {
  position: relative;
  height: 126px;
  background-color: transparent;
}
#dynamicfig {
  position: absolute;
  width: 174px;
  height: 178px;
  left: 50%;
  margin-left: -87px;
  margin-top: -218px;
  overflow: hidden;
}
#logo {
  width: 283px;
  height: 106px;
  margin: 5px auto;
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  text-align: center;
  line-height: 66px;
  font-family: 'Calibri', 'Lucida Grande', sans-serif;
}
.getbtn {
  display: block;
  width: 138px;
  height: 45px;
  background-color: #000;
  text-align: center;
  position: relative;
}
#appstore {
  margin-left: 145px;
  margin-top: -45px;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
}
#getit {
  text-overflow: hidden;
  overflow: hidden;
  text-indent: -999px;
  background: url("../images/google.png") no-repeat center center;
}
#base_svg {
  width: 283px;
  height: 126px;
}
.login-block {
  height: 220px;
  max-width: 405px;
  left: 50%;
  margin-left: -124px;
  top: 50%;
  margin-top: -170px;
  position: absolute;
}
.login-spacer {
  height: 470px;
}
.signup-block {
  width: 405px;
  left: 50%;
  margin-left: -202px;
  top: 50%;
  margin-top: -250px;
  position: absolute;
}
input[type="submit"] {
  cursor: pointer;
}
a small {
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  left: 34px;
}
.terms {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 20px 130px 20px;
}
h2.flmessage {
  position: absolute;
  text-align: center;
  top: 60px;
  width: 100%;
  font-weight: 300;
  font-size: 19px;
  text-indent: -30px;
}
h2.flmessage:before {
  font-family: 'Flat-UI-Icons';
  font-weight: 200;
  font-size: 19px;
  color: #34495e;
}
h2.errormessage:before {
  content: "\e00b     ";
}
h2.flashmessage:before {
  content: "\e00a     ";
}
a#navigation {
  color: inherit;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30px;
  font-weight: 300;
  font-size: 18px;
  text-indent: -30px;
}
a#navigation:before {
  font-family: 'Flat-UI-Icons';
  font-weight: 200;
  font-size: 19px;
  color: #34495e;
  content: "\e02d     ";
}
.hidden_item,
svg.hidden_item {
  display: none;
}
#header {
  height: 160px;
}
#logo.left {
  margin-left: 7.5%;
  margin-top: 2.5%;
  float: left;
}
.greeting {
  font-size: 26px;
  height: 106px;
  line-height: 106px;
  top: 7.5%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.greeting small {
  font-weight: bold;
  font-size: 28px;
  text-transform: capitalize;
}
#maincontent {
  width: 85%;
  margin: 0 auto;
}
#maincontent > h2.title {
  font-size: 22px;
  font-weight: 300;
}
.addbtn {
  margin-top: 20px;
  display: block;
  float: left;
}
.tagged {
  margin-top: 10px;
  font-size: 15px;
}
.btncontainer {
  height: 133px;
}
.addtag-block {
  min-height: 323px;
  max-width: 573px;
  left: 50%;
  margin-left: -246px;
  top: 50%;
  margin-top: -230px;
  padding: 24px 23px 20px;
  position: absolute;
  background-color: #edeff1;
  border-radius: 6px;
}
.addtag-spacer {
  height: 600px;
}
canvas.newproduct-view {
  width: 292px;
  height: 375px;
  background-color: #468eca;
  border-radius: 6px;
}
.addtag-block h2 {
  margin-top: -40px;
  font-size: 23px;
  font-weight: 300;
}
.upload_target_container {
  position: relative;
  width: 265px;
  height: 41px;
  background-color: #777;
  margin: 0px 0px 14px 0px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}
h4 {
  color: #aaa;
}
.comment_box {
  min-height: 150px;
}
#waiting {
  display: none;
}
#mycomments {
  max-height: 200px;
  overflow-y: auto;
}
.comment {
  font-size: 14px;
  margin: 20px 30px 20px 30px;
}
.owned.comment {
  color: #445;
}
.comment .date {
  font-size: 11px;
  float: right;
}
.comment .author {
  font-weight: bold;
  margin-right: 20px;
}
.comment .author,
.comment .text {
  display: inline-block;
}
.comment img {
  height: 50px;
  width: 50px;
}
.control-group.file {
  position: relative;
}
.control-group.file .label {
  background: #39d2b4;
  padding: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  transition: all 0.4s;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
}
.control-group.file input {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  opacity: 0.01;
  cursor: pointer;
  height: 45px;
  width: 100%;
}
.control-group.file input:hover .label,
.control-group.file input:focus .label {
  background: #34495e;
  color: #39d2b4;
}
